@import './components/main';
@import './components/header';
@import './components/head-menu';
@import './components/slider';
@import './components/categories';
@import './components/banner';
@import './components/products';
@import './components/social-program';
@import './components/charity';
@import './components/news';
@import './components/ourshop';
@import './components/delivered';
@import './components/footer';
@import './components/mobile-bar';
@import './components/popup';
@import './components/sign-in';
@import './components/profile';
@import './components/filter';
@import './components/formelements';
@import './components/cart';
@import './components/about';
@import './components/contact';
@import './components/details';
@import './components/organization';
@import './components/page';
@import './components/user';
@import './components/upload';