.element {
    &__check {
        margin-bottom: 3px;

        &--input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            background-color: #DEDFE4;

            &:checked ~ .element__check--checked {
                border: 1px solid #003CFF;
                background-color: #003CFF;

                img {
                    display: block;
                }
            }            
        }
     

        &--checked {
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #959595;
            border-radius: 4px;
            background-color: #fff;

            img {
                display: none;
            }
        }

        &--text {
            margin-left: 10px;
            display: flex;
            align-items: center;
            color: #505050;
            font-size: 15px;
            line-height: 20px;

            a {
                margin-left: 5px;
                color: #7948CE;
                text-decoration: none;
            }
        }
    }

    &__radio {
        margin-bottom: 24px;
        margin-right: 26px;

        &--input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            background-color: grey;

            &:checked ~ .element__radio--radioed {
                border: 3px solid #7948CE;
            }            
        }

        &--radioed {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #959595;
            background-color: #fff;
            border-radius: 50%;
        }

        &--text {
            margin-left: 12px;
            display: flex;
            align-items: center;
            color: #505050;
            font-size: 15px;

            a {
                margin-left: 5px;
                color: #1997E2;
                text-decoration: none;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 19px 30px;
        margin-bottom: 24px;
        background-color: #fff;
        border: 1px solid #DEDFE4;
        border-radius: 8px !important;
        color: #9495A5;
        font-size: 14px;
        outline: none;
    }

    &__btn {
        margin-top: 60px;
        padding: 18px 0;
        font-size: 16px;
    }

    &__upload {
        width: 100%;
        padding: 19px 30px;
        margin-bottom: 24px;
        background-color: #fff;
        border: 1px solid #DEDFE4;
        border-radius: 8px !important;
        cursor: pointer;

        &--input {
            width: 1px;
            height: 10px;
            position: absolute;
            z-index: -2;
            opacity: 0;
        }

        &--name {
            color: #9495A5;
            font-size: 14px;
            font-weight: 100;
        }
    }

    &__image {
        width: 100%;
        height: 150px;
        // padding: 19px 30px;
        margin-bottom: 24px;
        background-color: #fff;
        border: 1px solid #7948CE;
        border-radius: 8px !important;
        border-style: dashed;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &--input {
            width: 1px;
            height: 10px;
            position: absolute;
            z-index: -2;
            opacity: 0;
        }

        &--name {
            color: #7948CE;
            font-size: 16px;
            font-weight: 100;
        }

        &--upload {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            border-radius: 8px;
            object-fit: cover;
        }

        &--delete {
            display: none;
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 2;
            cursor: pointer;
        }
    }
}

.min-max {
    border: 2px solid #F2F2F2;
    border-radius: 38px;
    overflow: hidden;
    margin: 16px 0;

    &--btn {
        background-color: transparent;
        border: 2px solid #F2F2F2;
        border-radius: 38px;
        outline: none;
        cursor: pointer;
        padding: 7px 18px;
        margin-left: 8px;
        color: #4E4E4E;
        font-size: 13px;
    }

    &__label {
        border-right: 1px solid #F2F2F2;
        position: relative;
        
        &--input {
            width: 100%;
            padding: 7px 15px;
            outline: none;
            border: none;
            color: #4E4E4E;
            font-size: 13px;
        }

        p {
            position: absolute;
            right: 10px;
            top: 6px;
            color: #4A4A4A;
        }
    }
}

.select {
    margin-bottom: 10px;

    .ui-selectmenu-button-text {
        display: none;
    }
    &__title {
        margin-bottom: 10px;
        color: #3D3D3D;
        font-size: 15px;
    }

    &__list {
        color: #000;
        font-size: 15px;
        outline: none;
        border: 2px solid #F2F2F2;
        border-radius: 38px;
        background-color: #fff;
        width: 100%;
        padding: 5px 18px;

        @media (max-width: 1024px) {
            padding: 0;
            background-color: transparent;
            border: none;
        }

        &--item {

        }
    }
}